.search-input {
    margin-top: 5px;
    border: none;
    outline: none;
    flex: 1;
    font-size: 1rem;
}

.search-box{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.search-icon{
    margin-right: 5px;
    color: #888;
}
