/** CSS for a side control component. */

@import 'frontend/app/styles/common';

.item-container {
  padding: 20px 20px 0;
}

.mat-subheading-2 {
  margin-bottom: 0;
}

.flex-space {
  flex: 1;
}

.row {
  display: flex;
  align-items: center;
}

.search-input {
    margin-top: 5px;
    border: none;
    outline: none;
    flex: 1;
    font-size: 1rem;
}

.search-box{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.search-icon{
    margin-right: 5px;
    color: #888;
}
