<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div class="item-container">
      <graph-config
        [initialInputs]="initialParams"
        [moduleList]="moduleList"
        [graphTypes]="graphTypes"
        (plot)="onSearchGraph($event)"
        (updateSelectedModule)="onModuleSelectionChange($event)"
      ></graph-config>
      <div class="hlo-download">
        <download-hlo
          [moduleName]="selectedModule"
          [showMetadata]="showMetadata"
        ></download-hlo>
      </div>
    </div>
    <op-details [sessionId]="sessionId"></op-details>
    <div class="progress-container-op-details" *ngIf="loadingOpProfile">
      <mat-spinner class="loading-spinner" color="primary" mode="indeterminate" diameter="20"></mat-spinner>
      <div class="loading-message">Preparing Op Details ...</div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <diagnostics-view [diagnostics]="diagnostics"></diagnostics-view>
    <div class="progress-container" *ngIf="loadingGraph">
      <div class="loading-message">Loading graph...</div>
      <!-- TODO(go/progressbar-aria): Replace the aria-label with a better description, e.g. "Fetching user data" -->
      <mat-progress-bar color="primary" mode="indeterminate" aria-label="Loading"></mat-progress-bar>
    </div>
    <div class="hlo-text-view-container">
      <hlo-text-view
        [sessionId]="sessionId"
        [moduleName]="selectedModule"
        [showMetadata]="showMetadata"
      ></hlo-text-view>
    </div>
    <mat-expansion-panel class="hlo-text-view-panel" *ngIf="sourceCodeServiceIsAvailable">
      <mat-expansion-panel-header>
        <mat-panel-title>Stack Trace Source Code Snippets</mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="stack-trace-snippet-container">
          <stack-trace-snippet [stackTrace]="stackTrace" />
        </div>
      </ng-template>
    </mat-expansion-panel>
    <div *ngIf="!hasGraphOrLoading()" class="default-graph">
      <div><p>You can select a module and op to draw the graph. </p></div>
      <div *ngIf="showDefaultGraphOptions()">
        <p>To quick start, choose from the chips below to view its graph.</p>
        <mat-chip-listbox multiple aria-label="profile quick options">
          <mat-chip-option *ngFor="let option of defaultGraphOptions" [matTooltip]="option.tooltip" (click)="onClickDefaultGraphOption(option)" appearance="hairline-filter">{{ defaultGraphOptionLabel(option) }}</mat-chip-option>
        </mat-chip-listbox>
      </div>
    </div>
    <div *ngIf="!showMeGraph" class="graph-container">
      <iframe #iframe id="graph-html"></iframe>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
