/** CSS for a graph viewer component. */

@import 'frontend/app/styles/common';

.item-container {
  display: flex;
  padding: 20px 20px 0;
}

mat-sidenav {
  background: transparent;
  height: max-content;
  // set fixed width to avoid weird behavior of mat-sidenav-content width change when collapsing the xprof sidenav.
  width: 350px;
}

mat-sidenav-container {
  display: inline;
}

iframe {
  width: 100%;
  height: 90%;
  border: none;
}

mat-progress-bar {
  width: 300px;
  margin: 0 auto;
}

.loading-message {
  width: fit-content;
  margin: 0 auto;
}

.loading-spinner {
  margin: 0 auto;
  margin-right: 10px;
}

.progress-container {
  position: absolute;
  width: 100%;
  margin: 300px 0;
  z-index: 1;
  top: 0;
}

.progress-container-op-details {
  position: fixed;
  display: flex;
  bottom: 50px;
  padding: 20px;
}

.hlo-text-view-container {
  position: sticky;
  width: 100%;
  // Set z-index to 2 to advance the graphviz link
  // note this only works with non-static position
  z-index: 2;
}

.graph-container {
  width: 100%;
  height: 100%;
}

.default-graph {
  width: 100%;
  height: 100%;
  padding: 20px;
  font-weight: 100;
  font-size: 16px;
}

.progress-container-graphviz,
.graphviz-link {
  position: absolute;
  padding: 80px 40px;
  z-index: 1;
}

.progress-container-graphviz {
  display: flex;
}

.stack-trace-snippet-container {
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
}
